<% if @user_data != nil %>
	<h2>User Data</h2>
	<div>
	    <span class="field_label">Name:</span>
	    <span class="field"><%= @user_data.fname + " " + @user_data.lname %></span>
	    <br />
	    <span class="field_label">Email:</span>
	    <span class="field"><%= @user_data.email %></span>
	</div>
<% end %>
